<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <% include ../view/navbar.ejs %>
</head>
<body>
	<div class="container">
        
        <center class="mt-4 text-success">
            <h3>Selamat Datang, di gate <%= gate %></h3>
            <h2><p id="time"></p></h2>
        </center>
        
    </div>
</body>

<script>
    var timeDisplay = document.getElementById("time");

    function refreshTime() {
    var dateString = new Date().toLocaleString("en-US", {timeZone: "Asia/Jakarta"});
    var formattedString = dateString.replace(", ", " - ");
    timeDisplay.innerHTML = formattedString;
    }

    setInterval(refreshTime, 1000);
</script>

</html>